@import url('https://site-assets.fontawesome.com/releases/v7.2.0/css/all.css');

:root {
    --background: #1f2130;
    --secondary: #353955;
    --background-darker: #1a1c29;
    --background-darker-with-opacity: #1a1c29cc;
    --foreground: #ededed;
    --pri-col: #1791ff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: var(--foreground);
  background: var(--secondary);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100vh;
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  flex-direction: column;
  gap: 1px;
  overflow-y: scroll;
  padding-bottom: 160px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.product {
  width: 100%;
  height: 140px;
  display: flex;
  background: var(--background);
  border-bottom: 1px solid #ffffff20;
  gap: 5px;
}
.product .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.product .info h2 {
  font-family: var(--font-dela-gothic-one);
  font-weight: 200;
  font-size: 16px;
}
.product .info span:not(.primary-name) {
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 200;
}
.product .info p {
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 400;
  padding: 0px 2px;
  padding-bottom: 10px;
}
.seperator {
  font-weight: 400 !important;
  font-size: 16px !important;
}
.buttons {
  display: flex;
  gap: 5px;
  padding-left: 4px;
  justify-content: center;
  align-items: center;
}
.buttons button {
  background: var(--pri-col);
  color: var(--foreground);
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 400;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  height: 30px;
}
.buttons .remove {
  background: #ff4d4d;
  width: 30px;
  flex-grow: 0;
  border-radius: 50%;
}
.buttons .remove i {
  font-size: 14px;
}

.buttons button:not(.remove):hover {
  background: var(--pri-col);
  opacity: 0.9;
}
.buttons button.disabled {
  background: #555;
  cursor: not-allowed;
  opacity: 0.6;
}

.product .image {
  width: 160px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0% 100%);
}
.product .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.cart {
  width: 100%;
  background: var(--background-darker-with-opacity);
  backdrop-filter: blur(14px);
  border-radius: 8px 8px 0px 0px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid #ffffff40;
  box-shadow: 0px -4px 10px #00000075;
}
.cart .top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.cart .top img {
  height: 32px;
}
.cart h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--pri-col);
}

.cart .totals {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;
}
.cart .totals b {
  font-size: 16px;
  font-family: var(--font-dela-gothic-one);
  font-weight: 400;
}
.cart .checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .checkout button {
  background: var(--pri-col);
  color: var(--foreground);
  border: none;
  padding: 6px 20px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
